/*
The larger-box should all have absolute values, as they should not change sizes even when 
the screen size has gotten smaller. All settings inside the larger-box will be hence absolute.

*/


/*-------------------------*/
/*        BASIC SETUP      */
/*-------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
/*  choose a font color  */
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

h1 {
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

/*-------------------------*/
/*        BODY.            */
/*-------------------------*/

body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(103, 142, 244, 0.5))), url("../img/background-image-min.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(103, 142, 244, 0.5)), url("../img/background-image-min.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/*-------------------------*/
/*        Header           */
/*-------------------------*/

.hero-text-box {
    position: absolute;
    width: auto;
    top: 25%;
    left: 18%;
    color: #fff;
}

.nav img {
    margin-top: 5px;
    margin-left: 15px;
    height: 85px;
    float: left;
}

/*-------------------------*/
/*        Buttons          */
/*-------------------------*/

.text-button,
.input-text,
#bitcoinPrice {
    color: #fff;
}

.text-button {
    font-family: 'Lato', 'Arial', sans-serif;
    border: none;
    background-color: transparent;
    overflow:visible; 
    font-size:1em;
    border-bottom: 1px solid #fff;
    outline: none;
}

.text-button:hover,
.text-button:active {
    color: #d5d5d5;
    font-weight: 300;
    border-bottom: 1px solid #d5d5d5;
    -webkit-transition: font-weight 0.2s, border-bottom 0.2s, color 0.2s;
    transition: font-weight 0.2s, border-bottom 0.2s, color 0.2s;
    outline: none;
}

.submit-button {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.input-text {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#bitcoinPrice {
    text-align: center;
    background-color: rgba(238, 238, 238, 0.3);
    width: 150px;
    margin-left: 35%;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px 3px rgba(222, 230, 253, 0.4);
    box-shadow: 0 0 3px 3px rgba(222, 230, 253, 0.4);
}


/*-------------------------*/
/*        Larger-box       */
/*-------------------------*/

.larger-box {
    position: absolute;
    top: 45%;
    width: 480px;
    margin-left: 30%;
    background-color: rgba(222, 230, 253, 0.4);
    border: 1px solid #DEE6FD;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 5px #becefb;
    box-shadow: 0 5px 5px #becefb;
}

.foreword p {
    font-size: 85%;
    line-height: 120%;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-top: 15px;
}

.foreword p:after {
    display: block;
    height: 1px;
    background-color: #FDF5DE;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px; 
}


/*-------------------------*/
/*        Footer           */
/*-------------------------*/

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding: 5px;
}

footer p {
    color: #fff;
    font-size: 70%;
    text-align: center;
}
