/*-------------------------*/
/*          HEADER         */
/*-------------------------*/


header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/background-image.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;
}